* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --height-header:66px;
}

.body {
    height: 5000px;
}

.d-header {
    height: var(--height-header);
    background-color: #044863;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    
}

.box-search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height-header);
    position: relative;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 10%);
}

.icon-header i{
    color: #fff;
    font-size: 1.5rem;
}

.icon-header::before {
    content: "";
    border-right: 1px;
    height: var(--height-header);
    position: absolute;
    top: 0;
    right: 0;
}

.height-box-right {
    height: var(--height-header);
}

.box-download-button {
    display: flex;
}

.box-download-button .btn {
    border: none;
    padding: 0 2px;
}

.btn-app img{
    height: 38px;
}

.logo-btn  {
    height: 48px;
}

.logo-btn:hover {
   cursor: pointer;

}

.box-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Menu */

.menu {
    position: relative;
    top: 66px;
    bottom: 0;
}

.show li {
    list-style: none;
    padding: 12px 36px;
    border-bottom: 1px solid #2f3437;
    cursor: pointer;
}

.show ul {
    padding-left: 0;
  
}

.show a {
    text-decoration: none;
    color: #fff;
}

.col-left-sidebar {
    position: relative;
    padding: 0;
}

.sub-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.show .active-menu {
    background-color: #fb474a;
}

/* Detail */
.col-main-body {
    background-color: #edeff0;
    padding: 0;
}

.title .title-name{
    position: absolute;
    margin-left: 5rem;
    border-bottom: 3px solid #fb474a;
    top: 79px;
    left: 246px
}

.title {
    font-size: 1.25rem;
}

.detail-logo {
    margin-top: calc(var(--height-header) + 54px);
}

.detail-logo .detail-logo-img {
    height: 24px;
    border: 1px;
    background-color: #c4c4c4;
}

.content-header-img {
    height: 430px;
    width: 866px;
    object-fit: cover;
    border-radius: 3px;
    margin-left: 60px;
}
.item-content-header {
    position: relative;
}

.view {
    position: absolute;
    top: 0;
    right: 17px;
    text-align: center;
    min-height: 28px;
    min-width: 45px;
    background-color: #46c6e6;
    border-radius: 3px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.icon-view,
.count-view {
    padding: 2px;
}

/* Hooper list */
.img-first {
    max-width: 100%;
    height: 390px;
    object-fit: cover;
}
.view-article-img {
    height: 30px;
    width: 61px;
    background-color: #46c6e6;
    top: 0px;
    right: 90px;
    text-align: center;
    position: relative;
}

.view-article-img::after {
    content: "";
    position: absolute;
    left: 51px;
    bottom: -9px;
    border-width: 0 10px 9px;
    border-style: solid;
    border-color: transparent transparent transparent #808080;
}

.article-img-des {
    bottom: 20px;
    right: 390px;
    font-weight: 600;
    padding: 0 0 16px 0;
}

.img-secondary {
    height: 170px;
    width: 350px;
    object-fit: cover;
}   

.article-img-right {
    position: relative;
}

.article-img-right-view {
    height: 30px;
    width: 61px;
    background-color: #46c6e6;
    top: 0;
    right: 46px;
    text-align: center;
    position: relative;
}

.article-img-right-view::before {
    content: "";
    position: absolute;
    left: 51px;
    bottom: -9px;
    border-width: 0 10px 9px;
    border-style: solid;
    border-color: transparent transparent transparent #808080;
}

.article-img-right-des {
    bottom: 58px;
    right: 64px;
    font-size: 12px;
    font-weight: 500;
}

.article-img-right-des-2 {
    padding: 0 0 0 16px;
    bottom: 6px;
    right: 77px;
    font-size: 12px;
    font-weight: 500;
}
/*  Related List */

.lg {
    font-size: 1.25rem;
    margin-left: 60px;
    border-bottom: 3px solid #fb474a;
}


.artice-related {
    margin-left: 26px;
}

.artice-related-list {
    margin-top: 88px;
}

.item {
    list-style: none;
}

.inner-item:hover {
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 20%);
}

.artice-item {
    border-radius: 3px;
    overflow: hidden;
}

.lg-2 {
    margin: 0 30px 0 100px;
    font-size: 1.85rem;
    border-bottom: 3px solid #fb474a;
}
/* Card  */
.card {
    min-height: 450px
}

.card-body {
    min-height: 270px;
}

.card-body h3 {
    font-size: 1rem;
    font-weight: 700;
}

.card-body p {
    font-size: 0.85rem;
    font-weight: 300;
}

.inner-item {
    text-decoration: none;
}

.img-fluid {
    max-width: 100%;
    height: 148px;
    object-fit: cover;
}

.item-detail {
    padding: 28px 22px 20px 22px;
}

.item-text,
.item-title {
    line-height: 1;
    min-height: 90px;
}


.inline-site-logo {
    width: 94px;
    height: 16px;
    object-fit: contain;
}

.site-name-des,
.time-range {
    font-size: 0.75rem;
}

.info-footer {
    margin: auto;
    justify-content: center;
    padding: 16px 0;
}

.site-name {
    padding: 0;
}
/* Navbar right */

.navbar-right {
    margin-top: 110px;
}
.card {
    margin-top: 30px;
}

.card-body {
    padding: 2rem ;
}

.item-img {
    margin-bottom: 40px;
}

.item-img img {
    border-radius: 3px;
}

.item-title {
    bottom: -68px;
    left: 37px;
    font-size: 0.5rem;
}

.item-view {
    height: 34px;
    width: 64px;
    background-color: #46c6e6;
    top: 32px;
    right: 23px;
    position: relative;
}

.icon-view {
    font-weight: 700;
}

.item-view::before {
    content: "";
    position: absolute;
    left: 55px;
    bottom: -8px;
    border-width: 0 10px 9px;
    border-style: solid;
    border-color: transparent transparent transparent #808080;
}   

/* Footer */
.container {
    padding: 0;
}

.footer {
    background-color: #fff;
    margin-top: 10px;
    padding: 20px 0 50px 0;
}
