<template>
  <div>
    <BlogList :listBlog="list"></BlogList>
  </div>
</template> 

<script>
import axios from 'axios'

import { BASE_URL } from '~/constants/constans.js'
import BlogList from '~/components/blog/BlogList.vue'
export default {
  components: { BlogList },

  data() {
    return {
      list: [],
    }
  },
  mounted() {
    this.getList()
  },
  computed: {
    BaseURL() {
      return BASE_URL
    },
  },
  methods: {
    getAllItem() {
      axios
        .get(`${BASE_URL}`)
        .then((response) => (this.list = response.data))
        .catch((error) => alert(error))
    },
    getList() {
      axios
        .get(this.BaseURL)
        .then((res) => {
          this.list = res.data
          console.log(this.list, 'list')
        })
        .catch(function (error) {
          console.log(error)
        })
    },
  },
}
</script>
