<template>
  <div>
    <BlogCreateEdit :post-edit="item" />
  </div>
</template>

<script>
import axios from 'axios'

import { BASE_URL } from '~/constants/constans.js'
import BlogCreateEdit from '~/components/blog/BlogCreateEdit.vue'
export default {
  components: {
    BlogCreateEdit,
  },

  /**
   * Function data
   * @return item
   */
  data() {
    return {
      item: {},
    }
  },

  /**
   * Function Mounted
   */
  mounted() {
    this.getItem()
  },

  methods: {
    /**
     * Method GetItem
     */
    getItem() {
      axios
        .get(`${BASE_URL}/${this.$route.params.id}`)
        .then((res) => (this.item = res.data))
        .catch((error) => alert(error))
    },
  },
}
</script>