<template>
  <BlogSearchForm :listBlog="list" @on-search="getItem($event)" />
</template>

<script>
import axios from 'axios'
import { BASE_URL } from '@/constants/constans.js'
export default {
  /**
   * Function Data
   * @return list
   */
  data() {
    return {
      list: [],
    }
  },
  methods: {
    /**
     * Method GetItem
     */
    getItem(keySearch = '') {
      if (keySearch === '') {
        axios
          .get(this.BaseURL)
          .then((response) => (this.list = response.data))
          .catch((error) => alert(error))
      } else {
        axios
          .get(`${BASE_URL}?q=${keySearch}`)
          .then((response) => (this.list = response.data))
          .catch((error) => alert(error))
      }
    },
  },

  computed: {
    /**
     * Computed BaseURL
     * @return BaseURL
     */
    BaseURL() {
      return BASE_URL
    },
  },

  /**
   * Function mounted
   */
  mounted() {
    this.getItem()
  },
}
</script>