* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --height-header:66px;
}

.body {
    height: 5000px;
}

.d-header {
    height: var(--height-header);
    background-color: #044863;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    
}

.box-search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height-header);
    position: relative;
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 10%);
}

.icon-header i{
    color: #fff;
    font-size: 1.5rem;
}

.icon-header::before {
    content: "";
    border-right: 1px;
    height: var(--height-header);
    position: absolute;
    top: 0;
    right: 0;
}

.height-box-right {
    height: var(--height-header);
}

.box-download-button {
    display: flex;
}

.box-download-button .btn {
    border: none;
    padding: 0 2px;
}

.btn-app img{
    height: 38px;
}

.logo-btn  {
    height: 48px;
}

.logo-btn:hover {
   cursor: pointer;

}

.box-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Menu */

.menu {
    position: relative;
    top: 66px;
    bottom: 0;
}

.show li {
    list-style: none;
    padding: 12px 36px;
    border-bottom: 1px solid #2f3437;
    cursor: pointer;
}

.show ul {
    padding-left: 0;
  
}

.show a {
    text-decoration: none;
    color: #fff;
}

.col-left-sidebar {
    position: relative;
    padding: 0;
}

.sub-menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.sub-menu>ul>li:hover {
    background: #fb474a;
}



/* Detail */

.col-main-body {
    background-color: #edeff0;
    padding: 0;
}

.title .title-name{
    border-bottom: 3px solid #fb474a;
}

.title {
    font-size: 1.25rem;
}


.detail-logo .detail-logo-img {
    height: 24px;
    border: 1px;
    background-color: #c4c4c4;
}




.content-header-img {
    max-width: 866px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}


.view {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    min-height: 28px;
    min-width: 45px;
    background-color: #46c6e6;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 700;
}

.icon-view,
.count-view {
    padding: 2px;
}

/* Cotent detail */
.artice-detail-content {
    max-width: 100%;
    position: relative;
}

.card-body {
    padding: 3rem 3rem;
}

.card-body h3 {
    font-size: 1.5rem;
}

.card-body p {
    padding: 0.5rem 0;
    margin-left: 0;
    font-size: 1rem;
}

.card-body a {
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
}

.active-text a{
    color: #ff837c;
}

.icon-contact {
    padding: 0 8px;
}

.icon-contact-item {
    bottom: 0;
    font-size: 2.5rem;
    color: #1ea1f2;
}

.social-network {
    position: absolute;
    right: 48px;
    bottom: 66px;
    cursor: pointer;
}

/*  Related List */
.list {
    padding: 0;
}

.lg {
    font-size: 1.25rem;
    border-bottom: 3px solid #fb474a;
}


.item {
    list-style: none;
}

.inner-item:hover {
    box-shadow: 0 0 6px 1px rgb(0 0 0 / 20%);
}

.artice-item {
    border-radius: 3px;
    overflow: hidden;
}

.item-image-list {
    width: 204px;
}

.card {
    min-height: 450px
}
.card-body {
    min-height: 270px;
}

.card-body h3 {
    font-size: 1rem;
    font-weight: 700;
}

.card-body p {
    font-size: 0.85rem;
    font-weight: 300;
}

.inner-item {
    text-decoration: none;
}

.img-fluid {
    max-width: 100%;
    height: 148px;
    object-fit: cover;
}

.item-detail {
    padding: 28px 22px 20px 22px;
}

.item-text
 {
    line-height: 1.5;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    max-height: 70px;
}

.item-title {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    max-height: 60px;
}

.item-title-right {
    bottom: 0;
    right: 6px;
    font-size: 0.75rem;
    background: rgba(0, 0, 0, 0.1);
    width: 97%;
    padding: 10px 33px;
}

.inline-site-logo {
    width: 94px;
    height: 16px;
    object-fit: contain;
}

.site-name-des,
.time-range {
    font-size: 0.75rem;
}

.info-footer {
    margin: auto;
    justify-content: center;
    padding: 16px 0;
}

.site-name {
    padding: 0;
}
/* Navbar right */

.card {
    margin-top: 30px;
}

.card-body {
    padding: 2rem ;
}

.item-img {
    margin-bottom: 40px;
}

.item-img img {
    border-radius: 3px;
}

.item-title {
    bottom: -70px;
    left: 37px;
    font-size: 0.5rem;
}

.item-view {
    height: 34px;
    width: 65px;
    background-color: #46c6e6;
    top: 0px;
    right: -10px;
}

.icon-view {
    font-weight: 700;
}

.item-view::before {
    content: "";
    position: absolute;
    left: 55px;
    bottom: -9px;
    border-width: 0 10px 9px;
    border-style: solid;
    border-color: transparent transparent transparent #808080;
}   

/* Footer */
.container {
    padding: 0;
}

.footer {
    background-color: #fff;
    margin-top: 10px;
    padding: 20px 0 50px 0;
}

/* Custom hlog */
.article-detail {
    padding: 80px;
}

.wrap-img {
    position: relative;
}