<template>
  <div id="main">
    <div>
      <AppHeader />
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 bg-link sidebar d-flex">
          <AppMenu />
        </div>
        <main role="main" class="col-md-10 p-0">
          <div id="page">
            <div class="page-body">
              <div class="card">
                <h4 class="card-title">List Blog</h4>
                <div class="card-body">
                  <div class="table-reponsive">
                    <table class="table table-border">
                      <thead>
                        <tr>
                          <td>ID</td>
                          <td>Tin</td>
                          <td>Loại</td>
                          <td>Trạng thái</td>
                          <td>Vị trí</td>
                          <td>Ngày public</td>
                          <td>Edit</td>
                          <td>Delete</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in listBlog" :key="item.id">
                          <td scope="row">{{ item.id }}</td>
                          <td>{{ item.title }}</td>
                          <td>{{ convertCategory(item.category) }}</td>
                          <td>{{ item.public ? 'Yes' : 'No' }}</td>
                          <td>{{ convertPositon(item.position) }}</td>
                          <td>{{ item.data_pubblic }}</td>
                          <td>
                            <nuxt-link
                              type="button"
                              class="btn btn-outline-primary"
                              :to="'/blog/' + item.id"
                            >
                              Edit
                            </nuxt-link>
                          </td>
                          <td>
                            <button
                              type="button"
                              class="btn btn-outline-danger"
                              @click.prevent="handleDelete(item.id)"
                            >
                              Delete
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <div id="footer">
      <AppFooter />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { LIST_CATEGORY, LIST_POSITION, BASE_URL } from '@/constants/constans.js'
export default {
  props: {
    /**
     * Prop listBlog
     */
    listBlog: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    /**
     * Computed BaseURL
     * @return BaseURL
     */
    BaseURL() {
      return BASE_URL
    },
  },

  methods: {
    /**
     * Function handleDelete
     * @param id
     * @param item
     */
    async handleDelete(itemId) {
      if (confirm(`Chắc chắn xóa ${itemId} ?`)) {
        await axios
          .delete(`${BASE_URL}/${itemId}`)
          .then(() => {
            this.$emit(`on-delete`)
            this.statusAlert = true
            setTimeout(() => {
              this.statusAlert = false
              alert('Xóa thành công')
              window.location.reload(true)
              
            }, 10)
          })
          .catch((error) => alert(error))
      }
    },

    /**
     * Function ConvertCategory
     * @param id
     * @param category
     * @return category name
     */
    convertCategory(categoryId) {
      const category = LIST_CATEGORY.find(
        (cate) => cate.categoryId === categoryId
      )
      return category?.name
    },

    /**
     * Function ConvertPositon
     * @param id
     * @param category
     * @return ListPosition
     */
    convertPositon(arrPosition) {
      const listPosition = []
      arrPosition.forEach((position) => {
        listPosition.push(
          LIST_POSITION.find((posi) => posi.positionId === position).positionName
        )
      })
      return listPosition.join(',')
    },
  },
}
</script>

<style >
.page-body {
  background-color: #e0d9d9b0;
  padding: 16px 8px;
  min-height: 1000px;
}

.card {
  border-radius: 5px;
}

.card-title {
  padding: 16px 18px;
  background-color: #f2f2f2;
  margin-bottom: 0;
}
</style>